In [1]:
import pandas as pd
import numpy as np

path = '../machine-learning/projects/titanic_survival_exploration/'
in_file = 'titanic_data.csv'
full_data = pd.read_csv(path + in_file)
full_data = full_data.select_dtypes(include=[object])

full_data.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Sex</th>
      <th>Ticket</th>
      <th>Cabin</th>
      <th>Embarked</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Braund, Mr. Owen Harris</td>
      <td>male</td>
      <td>A/5 21171</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Cumings, Mrs. John Bradley (Florence Briggs Th...</td>
      <td>female</td>
      <td>PC 17599</td>
      <td>C85</td>
      <td>C</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Heikkinen, Miss. Laina</td>
      <td>female</td>
      <td>STON/O2. 3101282</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Futrelle, Mrs. Jacques Heath (Lily May Peel)</td>
      <td>female</td>
      <td>113803</td>
      <td>C123</td>
      <td>S</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Allen, Mr. William Henry</td>
      <td>male</td>
      <td>373450</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

le = LabelEncoder()
ohe = OneHotEncoder()

# print(full_data['Name'])
full_data['Name'] = le.fit_transform(full_data['Name'])
print(full_data['Name'])
# for feature in full_data:
#     full_data[feature] = le.fit_transform(feature)
    # print(feature)

0      108
1      190
2      353
3      272
4       15
5      554
6      515
7      624
8      412
9      576
10     727
11      95
12     729
13      28
14     840
15     359
16     682
17     867
18     839
19     512
20     273
21      80
22     523
23     765
24     626
25      44
26     240
27     260
28     605
29     813
      ...
861    283
862    797
863    718
864    285
865    122
866    230
867    696
868    890
869    407
870     59
871     79
872    139
873    836
874      4
875    571
876    311
877    657
878    451
879    668
880    739
881    510
882    193
883     61
884    793
885    684
886    548
887    303
888    413
889     81
890    220
Name: Name, dtype: int64